* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}
.nav {
    /*position: fixed; */
    width: 100%;
    background: linear-gradient(to bottom right,#607B7D,#8EB9BC);
    height: 7.5rem;
    padding-top: .8rem;
    padding-left: 2rem;
    font-size: 1.4rem;
    color: white;
}

.home {
    height: 5rem;
    width: 14.5rem;
    padding-top: 1rem;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128rem;
    margin: 0 auto;
}
.nav-links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    list-style: none;
}

.nav-links-list > li {
    display: block;
    padding: 0.5rem;
}



.nav-btn {
    display: flex;
    justify-content: space-evenly;
    width: 40rem;
    margin-right: 3rem;
}

.btn {
    display: block;
    background-color: #303D41;
    border-radius: 2rem;
    text-align:center;
    color: white;
    width: 15rem;
    height: 4rem;
    padding: 1rem 1.3rem;
    box-shadow: 0rem 0.1rem 0.6rem 0.3rem #23232333
}

.primary-header {
    background: url("/nav-bg.png");
    background-size: cover;
    height: 63rem;
}

.primary-header-content {
    display: flex;
    align-items: center;
    width: 128rem;
    margin: 0 auto;
    padding: 0 2rem;
    color: white;
    background-color: #2C2C2C81;
}
.primary-header-content-div {
    transform: translateY(21rem);

}
.primary-header-content-div img {
    height: 50%;
    width: 50%;
}

.primary-header-content-text {
    width: 64rem;
    padding-left: 2rem;
    transform: translateY(-6rem);
}

.primary-header-content-text h2 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 5rem;
}

.primary-header-content-text h4 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.primary-header-content-text p {
    font-size: 1.8rem;
    text-align: justify;
    font-weight: 100;
    margin-bottom: 6rem;
    line-height: 2.4rem;

}

.primary-header-content-text div {
    background-color: sandybrown;
    width: 13rem;
    border-radius: 1rem;
    padding: 1rem 1rem .5rem 1rem;
}

.primary-header-content-text div h7 {
    display: block;
    font-size: 1.5rem;
}
.primary-header-content-text div span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}
.primary-header-content-text div span span {
    font-size: 2.5rem;
}
.primary-header-content-circle {
    height: 37rem;
    width: 43rem;
    background: #d8d8d896;
    clip-path: circle();
    margin: 9rem 4rem 0 0;
    transform: translate(1.5rem, -2rem);
}


.primary-header-content-options {
    width: 43rem;
    text-align: center;
    margin: 6rem 0 0 6rem;
}

.primary-header-content-options-1 {
    background-color: white;
    clip-path: circle();
    height: 9rem;
    width: 9rem;
    float: left;
    transform: translate(17rem, -43rem);
    padding: 1rem;
}
.primary-header-content-options-1-name {
    transform: translate(10rem, -33rem);
    font-size: initial;
    float: left;
}
.primary-header-content-options-1 img {
    height: 100%;
    width: 100%;
}
.primary-header-content-options-2 {
    background-color: white;
    clip-path: circle();
    height: 9rem;
    width: 9rem;
    float: left;
    transform: translate(15rem, -38rem);
    padding: 1rem;
}
.primary-header-content-options-2-name {
    transform: translate(8.5rem, -28rem);
    font-size: initial;
    float: left;
}
.primary-header-content-options-2 img {
    height: 100%;
    width: 100%;
}
.primary-header-content-options-3 {
    background-color: white;
    clip-path: circle();
    height: 9rem;
    width: 9rem;
    float: left;
    transform: translate(9rem, -26rem);
    padding: 1rem;
}
.primary-header-content-options-3-name {
    transform: translate(3.5rem, -16rem);
    font-size: initial;
    float: left;
}
.primary-header-content-options-3 img {
    height: 100%;
    width: 100%;
}
.primary-header-content-options-4 {
    background-color: white;
    clip-path: circle();
    height: 9rem;
    width: 9rem;
    float: left;
    transform: translate(30rem, -23rem);
    padding: 1rem;
}
.primary-header-content-options-4-name {
    transform: translate(23.5rem, -13rem);
    font-size: initial;
    float: left;
}
.primary-header-content-options-4 img {
    height: 100%;
    width: 100%;
}
.primary-header-content-options-5 {
    background-color: white;
    clip-path: circle();
    height: 9rem;
    width: 9rem;
    float: left;
    transform: translate(5rem, -17rem);
    padding: 1rem;
}
.primary-header-content-options-5-name {
    transform: translate(-1.5rem, -7rem);
    font-size: initial;
    float: left;
}
.primary-header-content-options-5 img {
    height: 100%;
    width: 100%;
}
.primary-header-content-options-6 {
    background-color: white;
    clip-path: circle();
    height: 9rem;
    width: 9rem;
    float: left;
    transform: translate(-20rem, -23rem);
    padding: 1rem;
}
.primary-header-content-options-6-name {
    transform: translate(-26.5rem, -13rem);
    font-size: initial;
    float: left;
}
.primary-header-content-options-6 img {
    height: 100%;
    width: 100%;
}
.primary-header-content-options-7 {
    background-color: white;
    clip-path: circle();
    height: 9rem;
    width: 9rem;
    float: left;
    transform: translate(0rem, -44rem);
    padding: 1rem;
}
.primary-header-content-options-7-name {
    transform: translate(-7.5rem, -34rem);
    font-size: initial;
    float: left;
}
.primary-header-content-options-7 img {
    height: 100%;
    width: 100%;
}
.primary-header-content-options-8 {
    background-color: white;
    clip-path: circle();
    height: 9rem;
    width: 9rem;
    float: left;
    transform: translate(-9rem, -55rem);
    padding: 1rem;
}
.primary-header-content-options-8-name {
    transform: translate(-15.5rem, -45rem);
    font-size: initial;
    float: left;
}
.primary-header-content-options-8 img {
    height: 100%;
    width: 100%;
}

.secondary-header {
    background:  url("/Rectangle.png"), white;
    background-size: cover;
    padding: 6rem 6rem 12rem 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.secondary-header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 128rem;
    text-align: center;
}

.secondary-header-content h1 {
    font-size: 4rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #303D41;
}

.secondary-header-content-heading {
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
    color: #262A29;
    display: flex;
    align-items: center;
    margin: 6rem 0;
}



.secondary-header-content-steps {
    display: inline-block;
    width: 8rem;
    font-size: 5rem;
    font-weight: 300;
    height: 8rem;
    border-radius: 5rem;
    text-align: center;
    padding: .7rem;
    background-color: #F1F1F1;
    color: #607C7E;
    margin-right: 2rem;
}

.secondary-header-content-steps:after {
    content: "";
    display: block;
    transform: translate(-18%,-74%);
    height: 10rem;
    width: 10rem;
    border: 2px solid #749799;
    border-radius: 5rem;
    text-align: center;

}

.secondary-header-content-steps-1 {
    display: flex;
    justify-content: space-around;
}
.dashed-line {
    margin: 3rem 0 5rem 0;
    width: 1.5px;
    border-left: .4rem dashed #D8D8D8;
}
.card-img1 {
    height: 60%;
    width: 60%;
}
.card-img2 {
    height: 30%;
    width: 30%;
}
.card-img3 {
    height: 60%;
    width:60%;
}
.card h4 {
    font-size: 2rem;
    margin: 3rem auto;
    width: 32rem;

}
.card p {
    font-size: 1.7rem;
    width: 36rem;
    text-align: justify;
    margin: 0 auto;
}


.card-align-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-align-2-padding {
    padding-bottom: 19rem;
}
.card-align-2-padding p {
    text-align: center;
}
.secondary-header-content-steps-1-circle {
    width: 2.5rem;
    background: #283235;
    height: 3rem;
    clip-path: circle();
}

.align-circle-1 {
    float: right;
    transform: translate(1.5rem, 13rem);
}

.align-circle-2 {
    float: left;
    transform: translate(-1.4rem, 6rem);
}
.align-circle-3 {
    float: left;
    transform: translate(-1.5rem, 18rem);
}
.section-steps-2-3 {
    display: flex;
    justify-content: center;
}
.section-steps-2-3-content {
    width: 128rem;
    padding: 6rem 6rem 0 6rem;
    background: url("/step2-3.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.section-steps-2-3-content-step-2 {
    float: left;
}
.section-steps-2-3-content-step-3 {
    float: right;
    transform: translate(3rem,-15rem);
}
.section-steps-2-3-content-step-2-heading {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
}
.color-white {
    background: white;
}
.section-steps-2-3-content-step-2-content {
    background: white;
    width: 45rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    list-style-position: inside;
    box-shadow: 0rem 0.1rem 1rem 2.3rem #23232309;
    padding: 2rem 1rem 10rem 1.5rem;
    margin-left: 10rem;
}

.section-steps-2-3-content-step-3-content {
    background: white;
    width: 50rem;
    text-align: justify;
    font-size: 1.6rem;
    border-radius: .5rem;
    list-style-position: inside;
    box-shadow: 0rem 0.1rem 1rem 2.3rem #23232309;
    padding: 2rem 1rem 6rem 1.5rem;
    margin-left: 10rem;
}

.section-coders {
    display: flex;
    justify-content: center;
}
.section-coders-div {
    width: 128rem;
}
.section-coders-heading {
    font-size: 3.8rem;
    color: #303D41;
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.section-coders-bg {
    background: url(/map.png);
    background-size: cover;
    height: 62rem;
    margin: 0 12rem;
}
.section-coders-content {
    background: #ECECEC59 ;
    transform: translateY(-50rem);
    height: 40rem;
}
.section-coders-heading {
    text-align: center;
}

.section-coders-content-coder-image {
    height: 11rem;
    width: 11rem;
    float: left;
    border-radius: 50%;
    border: .1rem solid #979797;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.61);
}

.coder1-position {
    background: url("/coder1.png");
    background-size: cover;
    transform: translate(13rem, -8rem);

}
.coder2-position {
    background: url("/coder.png");
    background-size: cover;
    transform: translate(24rem, 4rem);

}
.coder3-position {
    background: url("/coder3.png");
    background-size: cover;
    transform: translate(34rem, -8rem);

}
.coder4-position {
    background: url("/coder4.png");
    background-size: cover;
    transform: translate(44rem, 5rem);
}
.coder5-position {
    background: url("/coder5.png");
    background-size: cover;
    transform: translate(53rem, -7rem);
}


.section-coders-content-coder-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem;
    background: white;
    border-radius: .5rem;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.61);
    float: left;
    width: 21rem;
    height: 25rem;
    text-align: center;
}
.coder-name {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.coder-det-1 {
    height: 2.5rem;
    border-radius: .5rem;
    padding: .5rem;
    background: #2E5052;
}
.coder-det-2 {
    height: 2.5rem;
    width: 45%;
    border-radius: .5rem;
    padding: .5rem;
    background: #2E5052;
}
.coder-det {
    display: flex;
    justify-content: space-between;
}
.coder-profile {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-decoration: underline;
}